.Movie {
  overflow-x: hidden;

  
  section.content_wrap {
    overflow: hidden;
    position: relative;
    margin-top: 5.833rem;
    padding-top: 1.333rem;
    z-index: 1;

    section.recomm_list {
      .tt_flex {
        padding-left: 3.888rem;
        padding-right: 3.888rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
        h2 {
          margin: 0;
          padding: 0 0 1rem;
          color: #fff;
          font-size: 1.667rem;
        }
      } // tt_flex

      .lists_wrap {
        overflow: hidden;
        margin: -4rem -1.333rem -1.5rem;
        padding: 4rem 1.333rem 3.5rem;

        .recomm_swiper {
          overflow: visible;
          padding-left: 3.888rem;
          padding-right: 3.888rem;

          &:hover {
            .swiper-button-next,
            .swiper-button-prev {
              opacity: 1;
            }
          }

          .recomm_slide {
            display: inline-block;
            width: 186.667px;
            margin-right: 9px;
            transform: translate3d(0, 0, 0);
            transition: transform 300ms ease-in-out;

            &.trans_slide:hover {
              transform: translate3d(0, -0.75rem, 0);

              .rcmm_item {
                box-shadow: 0 0px 20px 0 rgba(0,0,0,1), 0 0 5px 0 rgba(0,0,0,1);
              }

              .info_item_title {
                color: rgba(255, 255, 255, 1);
              }
            }
            
  
            a {
              position: relative;
  
              .rcmm_item {
                overflow: hidden;
                position: relative;
                width: 100%;
                border-radius: 4px;
                background-color: rgba(255, 255, 255, 0.13);
                box-shadow: 0 0 20px 0 transparent, 0 0 5px 0 transparent;
                will-change: box-shadow;
                transition: box-shadow 0.3s ease-in-out;
  
                &::before {
                  display: block;
                  content: "";
                  padding-top: 144%;
                  width: 100%;
                  float: left;
                }
  
                .item_tag {
                  pointer-events: none;
                  position: absolute;
                  top: 0; bottom: 0; left: 0; right: 0;
                  z-index: 1;
                  pointer-events: none;
  
                  .tag_left {
                    position: absolute;
                    left: 0.333rem; top: 0.333rem;
                    white-space: nowrap;
                  }
  
                  .tag_right {
                    position: absolute;
                    right: 0.333rem; top: 0.333rem;
                    white-space: nowrap;
                  }
  
                  .down {
                    position: absolute;
                    left: 0; right: 0; bottom: 0;
                    height: 9.93%;
                    display: flex;
                    align-items: flex-end;
                    font-size: 1.2em;
                    text-align: center;
                    padding-bottom: 10.16%;
                    box-sizing: initial;
                    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  
                    .origin {
                      -webkit-box-pack: center;
                      justify-content: center;
                      -webkit-box-align: center;
                      align-items: center;
                      font-size: 0.971rem;
                      padding: 0;
                      border-radius: 0;
                      display: inline-block;
                      width: 100%;
                      height: 57.64%;
                      background-image: url(https://www.tving.com/img/tving-new-original.svg);
                      background-repeat: no-repeat;
                      background-size: auto 100%;
                      background-position: center center;
                    }
                  }
                } // item_tag
  
                .item_img {
                  position: absolute;
                  width: 100%;
                  height: 100%;
  
                  &::after {
                    display: block;
                    content: "";
                    clear: both;
                  }
  
                  img {
                    position: absolute;
                    top: 0; left: 0;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                  }
                }

                .summary_item {
                  position: absolute;
                  top: 0; bottom: 0; left: 0; right: 0;
                  z-index: 2;
                  height: 100%;
                  backdrop-filter: blur(30px);
                  background-color: rgba(25, 25, 25, 0.96);
                  font-size: 0.8em;
                  opacity: 0; 
                  transition: opacity 0.1s;

                  &::after {
                    display: block;
                    content: "";
                    clear: both;
                  }

                  dl {
                    padding: 1.333rem 1.40rem;

                    dt {
                      font-weight: 700;
                      font-size: 1.7rem;
                      line-height: 1.3;
                      -webkit-line-clamp: 2;
                      -webkit-box-orient: vertical;
                      display: -webkit-box;
                      word-wrap: break-word;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      color: rgba(255, 255, 255, 0.94);
                    }

                    dd {
                      margin: 0 auto;
                      opacity: 0.5;

                      span {
                        font-size: 1.22rem;
                        line-height: 2em;
                        color: #fff;
                      }

                      p {
                        margin-top: 0;
                        font-size: 0.96rem;
                        line-height: 1.8em;
                        -webkit-box-orient: vertical;
                        display: -webkit-box;
                        word-wrap: break-word;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: rgba(255, 255, 255, 0.64);  
                      }
                    }
                  } // dl
                } // summary_item

              } // rcmm_item

              &:hover {
                .summary_item {
                  opacity: 1;
                }
              }
              
              .info_item {
                padding: 0.6em 1em 0 0.05em;
                color: rgba(255, 255, 255, 0.7);
  
                .info_item_title {
                  position: relative;
                  -webkit-line-clamp: 1;
                  -webkit-box-orient: vertical;
                  display: -webkit-inline-box;
                  margin: 0;
                  max-width: 100%;
                  font-size: 1.78em;
                  line-height: 1.47;
                  color: rgba(255, 255, 255, 0.87);
                  word-wrap: break-word;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  transition: color 0.1s;
                }
              } // info_item

              .item_info_rank {
                display: grid;
                grid-template-columns: auto 1fr;
                grid-template-rows: repeat(3, auto);
                align-items: flex-start;
                column-gap: 1.25rem;

                .item_rank_no {
                  position: relative;
                  z-index: 2;
                  text-align: left;
                  line-height: 0;
                  font-size: 3.6rem;
                  font-weight: 700;
                  color: #fff;
                  transform: skewX(-10deg) translateY(-0.2em);
                  letter-spacing: -5px;
                }
              }
  
            } // a

            &.monopoly_slide {
              width: 227.833px;

              a {
                border-radius: 0.425em;

                .rcmm_item {
                  border-radius: 6px;

                  &::before {
                    padding-top: 200%;
                    
                  }
                }
              }
            } // monopoly_slide

            .genre_item {
              position: relative;
              border-radius: 0.425em;
              font-size: 1.175rem;
              color: #fff;

              span {
                display: flex;
                min-height: 3.677rem;
                justify-content: center;
                align-items: center;
                padding: 0.9rem 2.333rem 0.9rem;
                border-radius: 999px;
                background-color: rgba(33, 33, 33, 1);
                color: rgb(255, 220, 62);
                font-size: 1.25rem;
                box-sizing: border-box;
                transition: all 0.1s ease 0s;

                &:hover {
                  background-color: rgba(46, 46, 46, 1);
                  color: #fbe275;
                }
              }
              
            } // genre_item
            
            &.auto_width {
              width: auto !important;
              min-width: 144.828px;
              margin: 0;
              // background-color: red;
            }

          } // recomm_slide

          .swiper-button-prev,
          .swiper-button-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 3.888rem;
            height: 100%;
            margin: 0;
            padding: 0;
            z-index: 10;
            background-position: 50% 40%;
            background-size: 100%;
            background-repeat: no-repeat;
            cursor: pointer;
            opacity: 0;
            transition: opacity 0.1s;
          }

          .swiper-button-prev {
            left: 0;          
            background-image: url(https://www.tving.com/img/icon_slide_left.svg), linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0) 44%, rgba(0, 0, 0, 0));
          }

          .swiper-button-next {
            right: 0;
            background-image: url(https://www.tving.com/img/icon_slide_right.svg), linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0) 44%, rgba(0, 0, 0, 0));
          }

          .swiper-button-next::after,
          .swiper-button-prev::after {
            display: none;
          } 

        } // recomm_swiper
      } // lists_wrap
    } // recomm_list
  } // content_wrap
} // Movie