.Main .main_head_swiper {
  height: 100%;
}
.Main .main_head_swiper .swiper_style {
  position: relative;
  width: 100%;
  height: 100%;
}
.Main .main_head_swiper .swiper_style .slide_style {
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
}
.Main .main_head_swiper .swiper_style .slide_style::after {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 24%;
  display: block;
  content: "";
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
.Main .main_head_swiper .swiper_style .slide_style .article_cnt {
  position: absolute;
  bottom: 6.555%;
  left: 3.888rem;
}
.Main .main_head_swiper .swiper_style .slide_style .article_cnt p {
  z-index: 999;
  width: 100%;
  margin: 1rem 0 0;
  opacity: 0.87;
  font-size: 1.46rem;
  line-height: 1.44;
  text-align: left;
  color: #fff;
  margin-bottom: 10rem;
}
.Main .main_head_swiper .swiper_style .slide_style .article_btn {
  position: absolute;
  bottom: 20%;
  right: 3.888rem;
  cursor: pointer;
}
.Main .main_head_swiper .swiper_style .slide_style .article_btn span {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.15rem 2.8rem;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  font-size: 1.25rem;
  color: #fff;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  opacity: 0.9;
  transition: all 0.1s;
}
.Main .main_head_swiper .swiper_style .slide_style .article_btn span:hover {
  border-color: rgb(255, 255, 255);
  opacity: 1;
}
.Main .main_head_swiper .swiper_style .swiper-button-next,
.Main .main_head_swiper .swiper_style .swiper-button-prev {
  position: absolute;
  top: 0;
  width: 3.888rem;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% auto;
  opacity: 0.7;
  transition: opacity 0.1s;
}
.Main .main_head_swiper .swiper_style .swiper-button-next:hover,
.Main .main_head_swiper .swiper_style .swiper-button-prev:hover {
  opacity: 1;
}
.Main .main_head_swiper .swiper_style .swiper-button-next {
  right: 0;
  background-image: url(https://www.tving.com/img/icon_slide_right.svg);
}
.Main .main_head_swiper .swiper_style .swiper-button-prev {
  left: 0;
  background-image: url(https://www.tving.com/img/icon_slide_left.svg);
}
.Main .main_head_swiper .swiper_style .swiper-button-next::after,
.Main .main_head_swiper .swiper_style .swiper-button-prev::after {
  display: none;
}
.Main .main_head_swiper .swiper_style .swiper {
  position: relative;
  width: 100%;
  height: 100%;
}
.Main .main_head_swiper .swiper_style .swiper-pagination {
  width: auto;
  position: absolute;
  bottom: 20%;
  left: 5.5rem;
}
.Main .main_head_swiper .swiper_style .swiper-pagination .swiper-pagination-bullet {
  width: 0.6rem;
  height: 0.66rem;
  margin: 0.388rem;
  background-color: rgb(255, 255, 255);
}
.Main .main_head_swiper .swiper_style .swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgb(255, 255, 255);
}
.Main .main_head_swiper .swiper_style .btn {
  position: absolute;
  bottom: 20%;
  left: 2.5rem;
  z-index: 100;
  width: 3.733rem;
  height: 1.733rem;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
}
.Main .main_head_swiper .swiper_style .btn .btn_pause {
  display: inline-block;
  border-color: #fff;
  border-style: solid;
  border-width: 0 0.4em;
  padding: 1.3em 0.5em 0 0;
  line-height: normal;
  margin: 0;
}
.Main .main_head_swiper .swiper_style .btn .btn_play {
  display: inline-block;
  width: 0.12rem;
  height: 0.39rem;
  padding-top: 0.9em;
  padding-right: 0.95em;
  background-image: url(https://www.tving.com/img/icon_play_arow.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}